<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inddevid.aksiberbagi_donatur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".view.WebviewAjuanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.KalkulatorActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.LupaPasswordActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.NotifikasiActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.ProfilActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.DonasiDetailActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.WebviewInvoiceActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.InvoiceActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.PilihPembayaranActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.LelangActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.SapaActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.ZakatActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.PublikAjukanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.DonasiRutinActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.SemuaLaporanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.SemuaDonasiSayaActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.SyaratKetentuanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.TentangActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.BantuanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.PengaturanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.ProgramAllActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.ProgramDetailActivity"
            android:theme="@style/AppMaterial"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.SearchActivity"
            android:theme="@style/AppMaterial"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".view.DashboardActivity"
            android:theme="@style/AppMaterial" /> <!-- Start Auth android app -->
        <activity
            android:name=".view.SignUpActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name=".view.PasswordSetActivity"
            android:theme="@style/AppMaterial" /> <!-- End Auth android app -->
        <!-- Start activity splash And Intro -->
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.IntroActivity"
            android:theme="@style/AppMaterial">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- End activity splash And Intro -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>