<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aksiberbagi.donatur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name="com.aksiberbagi.donatur.view.LelangListActivity"
            android:theme="@style/AppMaterial"/>
        <activity
            android:name="com.aksiberbagi.donatur.view.WebviewAjuanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.KalkulatorActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.LupaPasswordActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.NotifikasiActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.ProfilActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.DonasiDetailActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.WebviewInvoiceActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.InvoiceActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.PilihPembayaranActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.LelangActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.SapaActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.ZakatActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.PublikAjukanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.DonasiRutinActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.SemuaLaporanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.SemuaDonasiSayaActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.SyaratKetentuanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.TentangActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.BantuanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.PengaturanActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.ProgramAllActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.ProgramDetailActivity"
            android:theme="@style/AppMaterial"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.aksiberbagi.donatur.view.SearchActivity"
            android:theme="@style/AppMaterial"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.aksiberbagi.donatur.view.DashboardActivity"
            android:theme="@style/AppMaterial" /> <!-- Start Auth android app -->
        <activity
            android:name="com.aksiberbagi.donatur.view.SignUpActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.LoginActivity"
            android:theme="@style/AppMaterial" />
        <activity
            android:name="com.aksiberbagi.donatur.view.PasswordSetActivity"
            android:theme="@style/AppMaterial" /> <!-- End Auth android app -->
        <!-- Start activity splash And Intro -->
        <activity
            android:name="com.aksiberbagi.donatur.view.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aksiberbagi.donatur.view.IntroActivity"
            android:theme="@style/AppMaterial">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- End activity splash And Intro -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>